input{
    width: auto;
    margin: auto;
}

h5{
    margin: auto;
    text-align: center;
}

td, th, tr, thead{
    text-align: center;
}

table{
    border-collapse: collapse;
    text-align: center;

}

.lit{
    background-color: lightgray;
    width: 80px;
    height: 160px;
}
.patient{
    position: absolute;
    bottom: 0%;
    left: 20%;
    display: none;
    background-color: lightgray;
    width: 300px;
    margin: auto;
}

#elt{  
    background-color:#ffffff;
    border: 0.1em solid black;
    width: 45em;
    height: 40em;
    position: absolute;
    left: 25%;
}

#vue_tri{
    background-color:#ffffff;
    border-bottom : 0.1em solid black;
    border-right:  0.1em solid black;
    width  : 33em;
    height : 30em;
    position:absolute;
}

#lit1{
    position: absolute;
    top: 10%;
    left: 25%;
}

#lit2{
    position: absolute;
    top: 10%;
    right: 25%;
}

#desc_patient{
    margin: auto;
}

#tab_sympt{
    margin: auto;
    border-style: solid;
    border-width: thin;
    border-color: red;
}

#btn-valider{
    margin: auto;
    float: none;
}



