body { margin: 0;
       padding: 0;
     }
#contient-elt
   {
     background-color:#ffffff;
      border : 0.1em solid black;
      width  : 80em;
      height : 50em;
      right:23%;
      position:absolute;
      bottom:70px;
   }
#map { 
      position: absolute;
      top:35px; 
      width: 70%;
      height:75%;
      margin:0 60px;
     }
#option
   {
      background-color:#ffffff;
      border : 0.1em solid black;
      width  : 11em;
      height : 11em;
      position:absolute;
      bottom:587px;
      right:11.2%;
   }
#chat
   {
      background-color:#ffffff;
      border : 0.1em solid black;
      width  : 14.5em;
      height : 36em;
      position:absolute;
      bottom:160px;
      right:11.2%;
   }

#contient
  {
      background-color:#c1bdba;
      border : 0.1em solid black;
      width  :84%;
      height : 20.5%;
      margin:0 60px;
      position:absolute;
      bottom:0%;
      right:6.5%;
  }
#camion1
  {
      background-color:#FF0000;
      border : 0.1em  ;
      width  : 4.4em;
      height : 1.4em;
      position:absolute;
      left:106px;
      bottom:70px;
  }
#camion2
  {
      background-color:#FF0000;
      border : 0.1em  ;
      width  : 3em;
      height : 2em;
      position:absolute;
      left:106px;
      bottom:80px;
  }
#camion3
  {
      background-color:#FFFFFF;
      border : 0.1em  ;
      width  : 4.1em;
      height : 1em;
      position:absolute;
      left:106px;
      bottom:110px;
      border-radius:2px;
  }
#roue1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: black;
    position:absolute;
    left:109px;
    bottom:55px;
}
#roue2 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: black;
    position:absolute;
    left:150px;
    bottom:55px;
}
#tete{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: black;
    position:absolute;
    left:380px;
    bottom:120px;
}
#corps
  {
      background-color:#000000;
      border : 0.1em solid black ;
      height : 3.8em;
      position:absolute;
      left:389px;
      bottom:70px;
  }
#bras
  {
      background-color:#000000;
      border : 0.1em solid black ;
      width : 3.8em;
      position:absolute;
      left:360px;
      bottom:108px;
  }
#pied-droit
          {
           background-color:#000000;;
           border : 0.1em solid black  ;
           transform: rotate(45deg);
           height: 50px;
           position:absolute;
           left:370px;
           bottom:30px;  
         } 
#pied-gauche
          {
           background-color:#000000;;
           border : 0.1em solid black  ;
           transform: rotate(-45deg);
           height: 50px;
           position:absolute;
           left:408px;
           bottom:30px;  
         } 
#sphere1 {
    width: 10px;
    height: 20px;
    background: black;
    -webkit-border-radius: 10px / 20px;
    -moz-border-radius:    10px / 20px; 
     border-radius:        10px / 20px; 
    position:absolute;
    left:550px;
    bottom:90px;
}
#sphere2 {
    width: 10px;
    height: 20px;
    background: black;
    -webkit-border-radius: 10px / 20px;
    -moz-border-radius:    10px / 20px; 
     border-radius:        10px / 20px; 
    position:absolute;
    left:575px;
    bottom:90px;
}
#sphere3 {
    width: 10px;
    height: 20px;
    background: black;
    -webkit-border-radius: 10px / 20px;
    -moz-border-radius:    10px / 20px; 
    border-radius:        10px / 20px; 
    position:absolute;
    left:600px;
    bottom:90px;
}

#pma
  {
      background-color:#ffffff;
      border : 0.1em   ;
      width  : 7em;
      height : 4em;
      position:absolute;
      left:800px;
      bottom:60px;
      border-radius:4px;
  }
#diagonale-1{
               background-color:#000000;;
               border : 0.1em solid black  ;
               transform: rotate(60deg);
               height: 122px;
               position:absolute;
               right:220px;
               top:12px;  
}
#diagonale-2{
               background-color:#000000;;
               border : 0.1em solid black  ;
               transform: rotate(-60deg);
               height: 122px;
               position:absolute;
               right:220px;
               top:12px;  
}
h3
 {
     position:absolute;
      left:840px;
      bottom:10px;
 }
